html, body {
    background-color: #222323 !important;
}
.navbar, .navbar *, .sidebar{
    background-color: #1d1f21 !important;
}
.home .hero .action-button, .badge {
    color: #1d1f21 !important;
}
.home .hero img{
    max-height:100% !important;
    margin-top:-50px !important;
    margin-bottom:-80px !important;
}
.navbar .site-name {
    color: #fff !important;
}
#main-title{
  font-size: 23px;
}