html, body {
    background-color: #1d1f21 !important;
}
.navbar, .navbar *, .sidebar{
    background-color: #1d1f21 !important;
}
.home .hero .action-button, .badge {
    color: #1d1f21 !important;
}
.navbar .site-name {
    color: #fff !important;
}
#main-title{
  font-size: 23px;
}