// 显示默认值
// $accentColor = #1E9BE8
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34

// 默认值
$accentColor = #1E9BE8
$textColor = #c3c3c3
$borderColor = #323232
$codeBgColor = #1d1f21